
.jfx-hamburger-icon{
    -fx-spacing: 4px;
}

.jfx-hamburger StackPane{
    -fx-background-color:#000000;
    -fx-pref-width: 30px;
    -fx-background-radius: 5px;
}


.side-menu-button{
     -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    -fx-border-style: none;

    -fx-pref-width: 252px;
    -fx-pref-height: 70px;
    -fx-cursor:hand;
    -fx-alignment:CENTER_LEFT;
    -fx-font-weight: bold;
    -fx-font-size: 11px;
}


.side-menu-button:hover{
    -fx-background-color: #FFCDAB;
    -fx-text-fill:#FFFFFF;
}
.side-menu-button:default{

}
.panel:hover{
-fx-background-color:#ffcdab;
}
.comboboxAccueil{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
    -jfx-focus-color:  #373a6d;
    -fx-text-inner-color: #373a6d;

}
.comboboxAccueil .cell {
    -fx-text-fill: #ffffff; /* change selected text (item) color */
    -fx-background-color: #c49018; /* change background color */
}
